* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Righteous', cursive;
    font-size: 18px;
    background: rgb(226, 225, 225);
}

.Container {
    margin: 20px auto;
    width: 90%;
    height: auto;
}

header img {
    height: 40px;
}

nav {
    margin: 40px 0;
}

nav a {
    text-decoration: none;
    color: #302E50;
    padding: 1em;
}

nav a:hover {
    text-decoration: underline; 
    color: rgb(119, 89, 255);
}

.sec {
    margin: 1rem;
}

.sec img {   
    width: 100%;
}

.sec::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    width: calc(100% / 3 - .6rem);
    height: auto;
    float: left;
    margin: 0 .3rem;;
}

.overlay {
    position: relative;
    height: auto;
}

.norm-img {
    display: block;
}

.hov-img {
    display: none;
}

.column:hover .hov-img {
    display: block;
}

.column:hover .norm-img {
    display: none;
}


.textimg, .heart {
    position: absolute;
}

.textimg {
    bottom: 20px;
}

.heart {
    top: 20px;
    right: 0px;
    padding: 5px 11px;
    background: rgb(226, 225, 225);
}

.heart:hover {
    color: red;
}

.red, .green {
    font-size: 14px;
    color: rgb(226, 225, 225);
    padding: 5px;
}

.red {
    background: rgb(211, 14, 14);
}

.green {
    background: rgb(14, 118, 4);
}

.coll {
    color: lightslategray;
    font-size: 16px;
}

.price {
    font-size: 14px;
}

.normal {
    text-decoration: line-through;
}

.sale {
    color: rgb(211, 14, 14);
}

























footer {
    text-align: center;
    height: auto;
    padding-top: 1rem;
}

footer a {
    text-decoration: none;
    color: #302E50;
    padding: 2em;
    
}

footer a:hover {
    text-decoration: underline; 
    color: rgb(255, 89, 89);
}
